body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: white;
    color: black;
    padding: 20px 0; /* Increased padding to increase height */
    font-size: 24px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-links, .right-link {
    display: flex;
    align-items: center;
}

.left-links a, .right-link a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 15px;
}

.left-links a.bold {
    font-weight: bold;
}

.right-link a.button {
    background-color: #000000;
    color: white;
    border-radius: 5px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0; /* Increased padding to increase height */
    font-size: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    width: 100%;
    margin-top: 80px; /* To offset the increased navbar height */
    margin-bottom: 80px; /* To offset the increased footer height */
}

.row {
    height: 150px; /* Increased height */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.row1 {
    background-color: #f0eeee; /* Light gray */
}

.row2 {
    background-color: #000000; /* Black */
}

.row3 {
    background-color: #ffffff; /* White */
}

.row4 {
    background-color: #cececb; /* Light gray */
}

.row5 {
    background-color: #f1f1f1; /* Light gray */
}

.row6 {
    background-color: #000000; /* Black */
}

.row7 {
    background-color: #d1ccd1; /*
